body {
    background-color: lightgray;
   }
   .container {
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   }
   #navLinks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
   }
   .navigation li {
      margin: 10px;
      list-style: none;
      text-decoration: none;
   }
   a {
    text-decoration: none;
   }
   .navigation {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    background-color: white;
   }
#img1{
    max-height: 300px;
    width: 30%;
    }
    .fullPage {
    width: 30%;
    padding: 10px;
    text-align: justify;
    }
#image {
    height: 100px;;
}
   
  