body {
    background-color: lightgray;
   }
#firstPage {
    background-image: url("../images/bio_img.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.container {
     display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   }
#navLinks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
   }
.navigation li {
      margin: 10px;
      list-style: none;
      text-decoration: none;
   }
a {
    text-decoration: none;
   }
   .navigation {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    background-color: white;
   }
    .fullPage {
    padding: 10px;
    text-align: justify;
    }

   
  