@import "~bootstrap/scss/bootstrap";
body {
    display: flex;
    flex-direction: column;
   }
.image-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
#img{
    background-image: url("../image/final-image.jpeg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}
.arrow {
    width: 100%;
    // margin: 0 auto;
    text-align: center;
}
.arrow::after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    margin: auto;
    margin-top: 100vh;
    // top:0;
    // right: 0;
    // bottom: 0;
    // left: 0;
    margin-top: 40%;
    border-right: 4px solid #fff;
    border-bottom: 4px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: 3s arrow infinite ease;
    animation: 3s arrow infinite ease;
}
@-webkit-keyframes arrow {
    0%, 100% {
        top: 50px;
    }
    50% {
        top: 80px;
    }
}
@-webkit-keyframes arrow {
    0%, 100% {
        top: 50px;
    }
    50% {
        top: 80px;
    }
}
#image {
    width: 400px;
    height: 200px;
}

.main {
    flex: 1 0 auto;
   }
#navLinks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    cursor: pointer;
   }
.navigation li {
      margin: 10px;
      list-style: none;
      text-decoration: none;
   }
a {
    text-decoration: none;
   }
.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background-color: black;
    color: #fff;
   }
#bio {
    background-color: rgb(34, 19, 19);
    margin-top: 0px;
    h2 {
        border-bottom: solid 1px#fff;
        color: grayscale($color: #f7eeee);
        margin: 20 50px;
        padding-bottom: 10px;
    }
    p { 
        color: grayscale($color: #f7eeee);
        margin: 0 50px;
        text-align: justify;
    }
}
#profile-picture{
    border-radius: 50%;
    margin-top: 40px;
}
.page-footer {
    flex-shrink: 0;
    text-align: center;
    color: rgb(207, 129, 101);
    // background-color: black;
    // color: #fff;
    // -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
    // filter: alpha(opacity=50);  /* IE 5-7 */
    // -moz-opacity: 0.5;          /* Netscape */
    // -khtml-opacity: 0.5;        /* Safari 1.x */
    // opacity: 0.5;               /* Good browsers */
    height: 40px;
    padding-top: 10px;
    background-color: #000;
}
.name {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    color: black;
    text-align: center;
    font-size: 5em;
    font-family: 'Courgette', cursive;
}
.developer {
    position: absolute;
    top: 300px;
    left: 0;
    width: 100%;
    color: black;
    text-align: center;
    font-size: 1.5em;
}
.logo {
    font-family: 'Courgette', cursive;
    color: rgb(207, 129, 101);
}
#navLinks > li > a {
    color: rgb(207, 129, 101);
    a {
        text-decoration: none;
    }
}
#technologiesPage {
    margin-top: 50px;
    margin-bottom: 10px;
}
#technologiesPage ul {
    justify-content: center;
}
#technology {
    border-bottom: solid 2px rgb(207, 129, 101);
    margin: 0 50px;
    margin-bottom: 20px;
}
ul > li {
    margin: 40px;
    list-style-type: none;
}
#projectsPage {
    margin-bottom: 20px;
}
.project-text {
    border-bottom: solid 2px rgb(207, 129, 101);
    margin: 0 50px;
}
#contact {
    background-image: url("../image/crystal.jpeg");
}
.contact-text {
    border-bottom: solid 2px rgb(207, 129, 101);
    text-decoration-color: black;
    margin: 0 50px;
    text-align: center;
}
#contact > ul {
    justify-content: space-around;
    margin: 0px;
}
@media only screen and (max-width: 1100px) {
    #profile-picture {
        width: 400px;
        margin-top: 40px;
    }
}
@media only screen and (max-width: 1070px) {
    ul > li {
        margin: 10px;
        list-style-type: none;
    }
    @-webkit-keyframes arrow {
        0%, 100% {
            top: 280px;
        }
        50% {
            top: 300px;
        }
    }
    @-webkit-keyframes arrow {
        0%, 100% {
            top: 280px;
        }
        50% {
            top: 300px;
        }
    }
}
@media only screen and (max-width: 980px) {
    #profile-picture {
        width: 300px;
        margin-top: 30px;
    }
@-webkit-keyframes arrow {
    0%, 100% {
        top: 200px;
    }
    50% {
        top: 230px;
    }
}
@-webkit-keyframes arrow {
    0%, 100% {
        top: 200px;
    }
    50% {
        top: 230px;
    }
}
}
@media only screen and (max-width: 700px) {
    #profile-picture {
        display: none;
    }
    ul > li {
        margin: 8px;
        list-style-type: none;
       .tech {
         width: 50px;
       }
    }
    @-webkit-keyframes arrow {
        0%, 100% {
            top: 350px;
        }
        50% {
            top: 380px;
        }
    }
    @-webkit-keyframes arrow {
        0%, 100% {
            top: 350px;
        }
        50% {
            top: 380px;
        }
    }
    .name {
        font-size: 3em;
    }
    .projects {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 500px) {
    @-webkit-keyframes arrow {
        0%, 100% {
            top: 400px;
        }
        50% {
            top: 430px;
        }
    }
    @-webkit-keyframes arrow {
        0%, 100% {
            top: 400px;
        }
        50% {
            top: 430px;
        }
    }
}